<% content_for :title do %>Home<% end %>

<section class="banner">

	<div class="texture"></div>
	
	<div class="motto-container">
		<a name="home"></a>
		<div data-magellan-destination="home" class="row">
			<div class="motto large-8 large-offset-4 medium-6 medium-offset-6 small-10 small-offset-1 end columns">REMODEL, RENOVATE, REINVENT</div><br>
		</div>
		<div class="row">
			<div class="motto cursive large-3 large-offset-9 small-4 small-offset-7 end columns">...your home</div>
		</div>
	</div>

	<div class="row">
		<div class="quote-container large-6 columns">
			<div class="largequote">"Mike’s quality workmanship speaks for itself. But the most important 	quality for us was his ability to complete each project on time and at or under our budget."</div>
			<div class="quote-author">- John and Missi Schembari</div>
		</div>
	</div>

</section>

<ul class="modules large-block-grid-3 small-block-grid-1">
	<li class="about-us">
		<h1>About Us</h1>
		<p>Learn about us and how we came to be.</p>
		<a class="button">Learn more</a>
	</li>

	<li class="projects">
		<h1>Our Projects</h1>
		<p>We do kitchens, baths, basements, and more.</p>
		<a class="button">See our work</a>
	</li>

	<li class="contact">
		<h1>Talk To Us</h1>
		<p>Drop us an email or give us call anytime.</p>
		<a class="button">Contact us</a>
	</li>
</ul>

<section class="home-about">

	<h1>Our Business</h1>
	<div class="big-image">
		<%= image_tag("house.jpg", alt: "home-picture", title: "Exteriors") %>
	</div>
	<div class="button-container">
		<%= link_to "Learn more about us", "/about", class: "button" %>
	</div>

	<section class="sub-section">
		<h2>Partners</h2>
		<ul class="partners large-block-grid-3 small-block-grid-3">
			<li><%= link_to (
						image_tag("concept175.png", alt: "concept_electric_logo", 
																				title: "Concept Electric",
																				width: 100,
																				height: 91,
																				target: "_blank")),
					"http://conceptelectricco.com" %>
			</li>
			<li><%= link_to (
						image_tag("absolute_logo.png", alt: "absolute_design_interiors_logo", 
																					 title: "Absolute Design Interiors",
																					 target: "_blank")), 
					"http://www.absolutedi.com" %>
			</li>
			<li><%= link_to (
						image_tag("araymond_logo.png", alt: "a_raymond_plumbing_logo", 
																					 title: "A. Raymond Plumbing",
																					 width: 100,
																				   height: 91,
																				   target: "_blank")),
					"http://www.araymondplumbing.com" %>
			</li>
			<!-- <li><%#= image_tag("bbb.jpeg", alt: "bbb_logo", 
																	 	title: "BBB",
																		width: 61,
																		height: 100) %></li> -->
		</ul>
	</section>

</section>