<section class="sub-page">	
	<h1>Projects</h1>

	<dl class="tabs" data-tab>
	  <dd class="active"><a href="#baths">Baths</a></dd>
	  <dd><a href="#kitchens">Kitchens</a></dd>
	</dl>

	<div class="photos tabs-content">

	  <div class="content active" id="baths">
	    <ul class="small-block-grid-1 large-block-grid-4">
				<li><%= image_tag("bath1.jpg", alt: "bath_image1", width: "200") %></li>
				<li><%= image_tag("bath7.jpg", alt: "bath_image2", width: "200") %></li>
				<li><%= image_tag("bath3a.jpg", alt: "bath_image3", width: "191") %></li>
				<li><%= image_tag("bath4.jpg", alt: "bath_image4", width: "200") %></li>
				<li><%= image_tag("bath5.jpg", alt: "bath_image5", width: "200") %></li>
				<li><%= image_tag("bath6.jpg", alt: "bath_image6", width: "200") %></li>
				<li><%= image_tag("shower1.jpg", alt: "shower_image1", width: "200") %></li>
				<li><%= image_tag("shower2.jpg", alt: "shower_image2", width: "200") %></li>
			</ul>
	  </div>

	  <div class="content" id="kitchens">
	    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
	  </div>

	</div>
</section>