<section class="sub-page projects-page">
	<div class="title row">
		<h1 class="desktop title-bar left-bar short-4 medium-4 large-4 columns"></h1>
		<h1 class="short-4 medium-4 large-4 columns">Projects</h1>
		<h1 class="desktop title-bar right-bar short-4 medium-4 large-4 columns"></h1>	
	</div>

	<dl class="tabs" data-tab>
	  <dd class="active"><a href="#baths">Baths</a></dd>
	  <dd><a href="#kitchens">Kitchens</a></dd>
	  <dd><a href="#basements">Basements</a></dd>
	</dl>

	<div class="photos tabs-content">

	  <div class="content active" id="baths">
	    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
				<li><%= image_tag("bath1_200.jpg", alt: "bath_image1", width: "200") %></li>
				<li><%= image_tag("bath7_200.jpg", alt: "bath_image2", width: "200") %></li>
				<li><%= image_tag("bath3a_200.jpg", alt: "bath_image3", width: "200") %></li>
				<li><%= image_tag("bath4_200.jpg", alt: "bath_image4", width: "200") %></li>
				<li><%= image_tag("bath5_200.jpg", alt: "bath_image5", width: "200") %></li>
				<li><%= image_tag("bath6_200.jpg", alt: "bath_image6", width: "200") %></li>
				<li><%= image_tag("shower1_200.jpg", alt: "shower_image1", width: "200") %></li>
				<li><%= image_tag("shower2_200.jpg", alt: "shower_image2", width: "200") %></li>
			</ul>
	  </div>

	  <div class="content" id="kitchens">
	    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
				<li><%= image_tag("kitchen4_400.jpg", alt: "kitchen_image4", width: "400") %></li>
				<li><%= image_tag("kitchen4b_400.jpg", alt: "kitchen_image4b", width: "400") %></li>
				<li><%= image_tag("kitchen5_400.jpg", alt: "kitchen_image5", width: "400") %></li>
				<li><%= image_tag("kitchen5a_400.jpg", alt: "kitchen_image5a", width: "400") %></li>
			</ul>
	  </div>

	  <div class="content" id="basements">
	    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
				<li><%= image_tag("basement1_400.jpg", alt: "basement1_image", width: "400") %></li>
				<li><%= image_tag("fireplace_400.jpg", alt: "fireplace_image", width: "400") %></li>
				<li><%= image_tag("basement1a_400.jpg", alt: "basement1a_image", width: "400") %></li>
			</ul>
	  </div>

	</div>
</section>