<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devise=width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "SrcOmaha.net" %></title>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="sub-page-nav mobile">
      <div class="small-logo left">
        <%= link_to (image_tag("SRCko_alt_wo_motto.png", alt: "SrcOmaha", size: "86x45")),
            home_path %>
      </div>
      <ul class="sub-nav">
        <li data-megellan-arrival="about-us"><%= link_to 'About', about_path %></li>
        <li data-megellan-arrival="project"><%= link_to 'Projects', projects_path %></li>
        <li data-megellan-arrival="contact-us"><%= link_to 'Contact', home_path(anchor: "contact-form") %></li>
      </ul>
    </nav>

    <div class="content-wrap">
      <nav class="static right">
        <ul>
          <li><%= link_to 'About Us', about_path %></li>
          <li><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to 'Contact Us', home_path(anchor: "contact-form") %></li>
        </ul>
      </nav>
      
      <div class="desktop logo">
          <%= link_to (image_tag("srcaomah_logo_w_red.png", alt: "SrcOmaha")),
              home_path %>
      </div>

      <% if params[:action] == 'home' %>
        <nav class="desktop" data-magellan-expedition="fixed">
          <div class="small-logo left">
            <%= link_to (image_tag("SRCko_alt_wo_motto.png", alt: "SrcOmaha", size: "86x45")),
              home_path %>
          </div>
          <ul class="sub-nav">
            <li data-megellan-arrival="about-us"><%= link_to 'About', about_path %></li>
            <li data-megellan-arrival="project"><%= link_to 'Projects', projects_path %></li>
            <li data-megellan-arrival="contact-us"><%= link_to 'Contact', home_path(anchor: "contact-form") %></li>
          </ul>
        </nav>
      <% end %>
      
      <%= yield %>

    </div>
    <footer>
      <div class="social-icons">
        <a href="#" target="_blank">
          <%= image_tag("twitter.png", alt: "twitter", title: "Twitter") %>
        </a>
        <a href="#" target="_blank">
          <%= image_tag("facebook.png", alt: "facebook", title: "Facebook") %>
        </a>
        <a href="#" target="_blank">
          <%= image_tag("google-plus.png", alt: "google+", title: "Google+") %>
        </a>
        <a href="#" target="_blank">
          <%= image_tag("linkedin.png", alt: "linkedin", title: "LinkedIn") %>
        </a>
      </div>
      <p>&copy; <%= Time.now.year %> SRC Contractor</p>
      <p>Design by <a class="attr" href="http://omahaareaman.com" target="_blank">OmahaAreaMan</p>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>